* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  --bs-body-font-size: 12.5px;
}

.img {
  width: 8rem;
}

.seccion {
  padding: 6rem 0 4rem;
  color: #60666c;
}

.seccion.chica {
  padding: 2rem 0;
}

.seccion h2 {
  color: #303339;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.28rem;
  font-weight: bold;
  margin: 0;
  padding-bottom: 2rem;
  text-align: center;
  text-transform: initial;
}

.seccion h2:after {
  display: block;
  content: '';
  border-bottom: 3px solid #a76a92;
  margin: 2rem auto 4rem;
  width: 5%;
}

.seccion .table {
  font-size: 1.12rem;
}

.seccion .table th {
  color: #303339 !important;
}

.seccion .table td {
  color: #60666c !important;
}

.seccion .card {
  border: 0 none;
  background-color: transparent;
}

.seccion .card .card-title {
  font-size: 1.28rem;
  color: #303339;
}

.seccion .card .profile {
  border-radius: 50%;
  height: 15rem;
  margin: 0 auto 2rem;
  overflow: hidden;
  width: 15rem;
}

.seccion .card .profile img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.seccion .btn {
  background-color: #a76a92;
  border-color: #a76a92;
}

footer {
  background-color: #303339;
}

footer p {
  color: #95999d;
}

footer h3 {
  color: #60666c;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

footer .nav .nav-item .nav-link {
  color: #95999d;
  font-size: 0.85rem;
  padding: 0.25rem 0.5rem;
}

footer .nav .nav-item .nav-link:hover {
  color: #caccce;
}

footer .nav.footer__social {
  margin-left: -0.5rem;
  padding-top: 1rem;
}

footer .nav.footer__social .nav-item .nav-link {
  font-size: 1.28rem;
}

footer .footer__credito {
  text-align: center;
  margin-top: 2rem;
}

#testimonios {
  background-color: #f2f2f3;
}

#branding .header-banner {
  background-image: url(/img/branding-online_BANNER.jpg);
}

#ilustraciones .header-banner {
  background-image: url(/img/ilustracion_3.png);
}

#disenoUxUi .header-banner {
  background-image: url(/img/banner_disenouxui.png);
}

#webdesign .header-banner {
  background-image: url(/img/webdesign_banner.jpg);
}

.header-banner {
  background: url(/img/computadora2.jpg) no-repeat 50% 50% #95999d;
  background-size: cover;
  padding: 6rem 0;
}

.header-banner .row {
  padding: 2rem 0;
}

.header-banner .row h1 {
  color: #f2f2f3;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.4;
  padding: 2rem 0 1rem;
}

.header-banner .row p {
  color: #f2f2f3;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.header__navbar {
  background-color: #f2f2f3;
  opacity: 1;
  transition: 0.5s;
}

.header__navbar.stuck {
  background-color: transparent;
  opacity: 0.5;
}

.header__navbar.stuck:hover {
  background-color: #f2f2f3;
  opacity: 1;
}

.header__navbar .navbar-nav a.nav-link {
  text-decoration: none;
  text-transform: initial;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #303339;
  margin-left: 2rem;
}

.header__navbar .navbar-nav a.nav-link:hover {
  color: #a76a92;
}

/* ---------------------------------------- SECTION PORTAFOLIO */
#portafolio .row {
  background-color: #f2f2f3;
  margin: auto;
  max-width: 70rem;
}

#portafolio .row a {
  overflow: hidden;
  padding: 0;
}

#portafolio .row a img {
  height: 25rem;
  object-fit: cover;
  opacity: 0.5;
  transition: 0.5s;
  width: 100%;
}

#portafolio .row a:hover img {
  transform: scale(1.05);
  opacity: 1;
}

/* test */

/*# sourceMappingURL=style.css.map */