.seccion {
    padding: $space-xl 0 $space-lg;
    color: $color-grey-600;

    &.chica {
        padding: $space-md 0;
    }

    h2 {
        color: $color-grey-800;
        font-family: 'Montserrat', sans-serif;
        font-size: $font-md;
        font-weight: bold;
        margin: 0;
        padding-bottom: $space-md;
        text-align: center;
        text-transform: initial;

        &:after {
            display: block;
            content: '';
            border-bottom: 3px solid $color-accent;
            margin: $space-md auto $space-lg;
            width: 5%;
        }
    }

    .table {
        font-size: $font-sm;

        th {
            color: $color-grey-800 !important;
        }
        td {
            color: $color-grey-600 !important;
        }
    }
    .card {
        border: 0 none;
        background-color: transparent;

        .card-title {
            font-size: $font-md;
            color: $color-grey-800;
        }
        .profile {
            border-radius: 50%;
            height: 15rem;
            margin: 0 auto 2rem;
            overflow: hidden;
            width: 15rem;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
    .btn {
        background-color: $color-accent;
        border-color: $color-accent-dark;
    }
}
