* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    --bs-body-font-size: 12.5px;
}

.img {
    width: 8rem;
}
