$space-xl: 6rem;
$space-lg: 4rem;
$space-md: 2rem;
$space-sm: 1rem;
$space-xs: 0.5rem;
$space-xxs: 0.25rem;

$font-xl: 2.8rem;
$font-lg: 2rem;
$font-md: 1.28rem;
$font-sm: 1.12rem;
$font-xs: 1rem;
$font-xxs: 0.85rem;

$color-grey-900: #303339;
$color-grey-800: #303339;
$color-grey-700: #60666c;
$color-grey-600: #60666c;
$color-grey-500: #95999d;
$color-grey-400: #95999d;
$color-grey-300: #caccce;
$color-grey-200: #caccce;
$color-grey-100: #f2f2f3;
$color-white: #f2f2f3;
$color-accent: #a76a92;
$color-accent-dark: #a76a92;
