// Imports
@import "reset";

// Variables
$color-gris: #F0F0F0;
$color-verde: #26C09E;
$color-negro: #2E2E2E;
$padding-seccion: 32px;




/* ----------FOOTER*/
footer{
    background-color: black;
    color: white;
    padding: 1rem;
}

.footer__flex{
    display: flex;
    justify-content: space-around;
}

.footer__menu, .footer__menu--icon{
    list-style: none;
    text-align: center;
}
.footer__menu a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

.footer__menu--icon li{
    display: inline-block;
    padding: 0.5rem;
}
    .icon{
        font-size: 1rem;
        color: rgb(59, 59, 180);
    }
.footer__credito{
    text-align: center;
    padding: 1rem;
    font-size: 0.7rem;
}